<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .emptyforLogin{
            width: 100%;
            height: 100px;
            margin-bottom: 0; 
        }
    </style>
</head>
<body>
    {% extends "layout.html" %}
    
    {% block string %}
    <div class="emptyforLogin"></div>
    <center><h1 style="color: #62c8d2;">Log In</h1>
    
    {% from "Includes/_formhelpers.html" import render_field %}
    <form method=post>
        <dl>
            
            {{ render_field(form.username) }}
            
            {{ render_field(form.password) }}
            
        </dl>
        <button type="submit" class="btn btn-success">Log In</button>
    </form>
    </center>
    
    {% endblock string %}

</body>
</html>